<h1>Pagination</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data">
      <tr>
        <ng-container *ngFor="let data of item.data">
          <td *ngIf="data.name == 'nombre_y_apellido'">{{data.values}}</td>
        </ng-container>
        <ng-container *ngFor="let data of item.data">
          <td class="" *ngIf="data.name == 'correo'">{{data.values}}</td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>

<p-paginator [rows]="itemsPerPage" [totalRecords]="totalDocs" pageLinkSize="3" (onPageChange)="getLeadsByPage($event)"></p-paginator>